.colDiv {
    /* border: solid #9e9e9e;  */
    width: 30%;
    float: left;
    margin: auto;
    margin-left: 2.5%;
    margin-top: 2%;
    background-color: #ebecf0;
    border-radius: 2%;
    box-shadow: 2px 5px 5px #888888;
}

@media only screen and (max-width: 600px) {
    .colDiv {
        width: 95%;
        height: auto;
        float: left;
        margin: auto;
        margin-left: 2.5%;
        margin-top: 1%;
        background-color: cyan;
    }
}

.colTitle {
    width: 100%;
    text-align: center;
    margin: 12px 0 10px 0;
    font-weight: 600;
}

.taskList {
    text-align: center;
    max-height: 80%;
    height: 78vh;
    overflow: auto;

}

@media only screen and (max-width:600px){

    .taskList {
        height: auto;
        overflow: auto;
    }
    
}