.colDiv {
    border: solid red;
    width: 30%;
    float: left;
    margin: auto;
    margin-left: 2%;
    margin-top: 2%;
    background-color: cyan;
}

@media only screen and (max-width: 600px) {
    .colDiv {
        width: 95%;
        height: auto;
        float: left;
        margin: auto;
        margin-left: 2.5%;
        margin-top: 1%;
        background-color: cyan;
    }
}

h3 {
    text-align: center;
}

.taskList {
    text-align: center;
    padding: 5px;
    min-height: 80%;
    height: 75vh;
    overflow: auto;
}

@media only screen and (max-width:600px){

    .taskList {
        height: auto;
        overflow: auto;
    }
    
}