
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .MuiCard-root{
    box-shadow:5px 5px 21px -15px rgba(64,56,64,0.69);
    position: relative;
    top: 1vh;
    margin: auto;
    height: 100% !important;
  }
  